<%-
	include( './partials/_head', {
		title: 'Chiilog',
		meta_description: 'メタディスクリプションを入れます',
		meta_keywords: 'カンマ区切りで,キーワードを入れます'
	} );
-%>
<%- include( './partials/_header' ); %>
<main>
	<p>EJSでhtmlを作る</p>
</main>

<%- include( './partials/_footer' ); %>
